In [1]:
import pandas as pd
import warnings

In [2]:
# Load the datasets, we will merge them later
df1 = pd.read_csv('../data/raw/argentina_economic_indicators_gdp.csv')
df2 = pd.read_csv('../data/raw/argentina_reer_data.csv', skiprows=3) # skip the first 3 rows with metadata

In [3]:
# Display the first DataFrame
df1.head()

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Argentina,ARG,GDP (constant 2015 US$),NY.GDP.MKTP.KD,2.65817E+11,2.90095E+11,3.1312E+11,3.38818E+11,3.58592E+11,3.48389E+11,...,5.78938E+11,5.94749E+11,5.82377E+11,5.98791E+11,5.83118E+11,5.71451E+11,5.14874E+11,5.70059E+11,5.98313E+11,5.89036E+11
1,Argentina,ARG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,2313.96,171.67,24.9,10.61,4.18,3.38,...,23.9,26.6,26.5,25.68,34.28,53.55,42.02,48.41,94.8,211.4
2,Argentina,ARG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,..,5.44,6.36,10.1,11.76,18.8,...,7.268,7.58,8.083,8.347,9.221,9.843,11.461,8.736,6.805,6.178
3,Argentina,ARG,Real interest rate (%),FR.INR.RINR,..,..,..,..,7.01009,14.23111,...,-11.60069877,-1.314708785,-7.006039843,0.455892832,4.564409099,12.10396965,-7.635174216,-11.88381637,-10.07372869,-15.74522673
4,Argentina,ARG,Real effective exchange rate index (2020 = 100),PX.REX.REER,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [4]:
# Display the second DataFrame
df2.head()

,DATAFLOW_ID:Dataflow ID,KEY:Timeseries Key,FREQ:Frequency,EER_TYPE:Type,EER_BASKET:Basket,REF_AREA:Reference area,Unit,Unit multiplier,TIME_PERIOD:Period,OBS_CONF:Confidentiality,OBS_PRE_BREAK:Pre-break value,OBS_STATUS:Status,OBS_VALUE:Value
0,"BIS,WS_EER,1.0",M.R.B.AR,M:Monthly,R:Real,B:Broad (64 economies),AR:Argentina,"Index, 2020 = 100",NaN,1994-01-31,F:Free,NaN,A:Normal value,458.81
1,"BIS,WS_EER,1.0",M.R.B.AR,M:Monthly,R:Real,B:Broad (64 economies),AR:Argentina,"Index, 2020 = 100",NaN,1994-02-28,F:Free,NaN,A:Normal value,456.19
2,"BIS,WS_EER,1.0",M.R.B.AR,M:Monthly,R:Real,B:Broad (64 economies),AR:Argentina,"Index, 2020 = 100",NaN,1994-03-31,F:Free,NaN,A:Normal value,451.24
3,"BIS,WS_EER,1.0",M.R.B.AR,M:Monthly,R:Real,B:Broad (64 economies),AR:Argentina,"Index, 2020 = 100",NaN,1994-04-30,F:Free,NaN,A:Normal value,451.91
4,"BIS,WS_EER,1.0",M.R.B.AR,M:Monthly,R:Real,B:Broad (64 economies),AR:Argentina,"Index, 2020 = 100",NaN,1994-05-31,F:Free,NaN,A:Normal value,448.76

In [5]:
# Drop unnecessary columns from df1
df1 = df1.drop(columns=['Country Name', 'Country Code', 'Series Code'])

In [6]:
# Convert all columns to numeric type
df1 = df1.apply(pd.to_numeric, errors='coerce')

In [7]:
# Transpose df1
df1 = df1.transpose()

In [8]:
# Set the first row as the column names and drop the first row then check the DataFrame
df1.columns = df1.iloc[0]
df1 = df1[1:]
df1.head()

Series Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990 [YR1990],2.658170e+11,2313.96,NaN,NaN,NaN,NaN,3.135428,10.359537,4.631322,1.456403,36.021881,1.298879,NaN,NaN,NaN,NaN,NaN
1991 [YR1991],2.900950e+11,171.67,5.44,NaN,NaN,NaN,3.321761,7.675043,6.078011,1.424063,32.722528,1.285579,NaN,NaN,NaN,NaN,NaN
1992 [YR1992],3.131200e+11,24.90,6.36,NaN,NaN,NaN,2.975538,6.598187,8.132793,1.387435,30.683955,1.936795,NaN,NaN,NaN,NaN,NaN
1993 [YR1993],3.388180e+11,10.61,10.10,NaN,NaN,NaN,13.510378,6.909352,9.313800,1.357966,27.338740,1.179803,NaN,NaN,NaN,NaN,NaN
1994 [YR1994],3.585920e+11,4.18,11.76,7.01009,NaN,NaN,13.186904,7.529949,10.604397,1.347024,26.754559,1.411953,NaN,NaN,NaN,NaN,NaN

In [9]:
# Remove empty df1 columns
df1 = df1.dropna(axis=1, how='all')

In [10]:
# Rename NaN headers
new_headers = ['GDP (constant 2015 US$)', 'Inflation, consumer prices (annual %)', 'Unemployment, total (total labor force %) (modeled ILO estimate)', 'Real interest rate (%)', 'Central government debt, total (GDP %)', 'General government final consumption expenditure (GDP %)', 'Exports of goods and services (GDP %)', 'Imports of goods and services (GDP %)', 'Population growth (annual %)', 'Industry (including construction), value added (GDP %)', 'Foreign direct investment, net inflows (GDP %)']
df1.columns = new_headers

In [11]:
# Display the first few rows of df1 to make sure everything is okay
df1.head()

,GDP (constant 2015 US$),"Inflation, consumer prices (annual %)","Unemployment, total (total labor force %) (modeled ILO estimate)",Real interest rate (%),"Central government debt, total (GDP %)",General government final consumption expenditure (GDP %),Exports of goods and services (GDP %),Imports of goods and services (GDP %),Population growth (annual %),"Industry (including construction), value added (GDP %)","Foreign direct investment, net inflows (GDP %)"
1990 [YR1990],2.658170e+11,2313.96,NaN,NaN,NaN,3.135428,10.359537,4.631322,1.456403,36.021881,1.298879
1991 [YR1991],2.900950e+11,171.67,5.44,NaN,NaN,3.321761,7.675043,6.078011,1.424063,32.722528,1.285579
1992 [YR1992],3.131200e+11,24.90,6.36,NaN,NaN,2.975538,6.598187,8.132793,1.387435,30.683955,1.936795
1993 [YR1993],3.388180e+11,10.61,10.10,NaN,NaN,13.510378,6.909352,9.313800,1.357966,27.338740,1.179803
1994 [YR1994],3.585920e+11,4.18,11.76,7.01009,NaN,13.186904,7.529949,10.604397,1.347024,26.754559,1.411953

In [12]:
# Reset the index to convert the current one into a column, allowing the DataFrame to have a default integer index
df1_reset = df1.reset_index()

In [13]:
# Rename the column to "Year"
df1_reset.rename(columns={'index': 'Year'}, inplace=True)

In [14]:
# Remove the "[YRYYYY]" part from the "Year" column
df1_reset['Year'] = df1_reset['Year'].str.extract(r'(\d{4})')

In [15]:
# Check the first few rows of the new DataFrame
df1_reset.head()

,Year,GDP (constant 2015 US$),"Inflation, consumer prices (annual %)","Unemployment, total (total labor force %) (modeled ILO estimate)",Real interest rate (%),"Central government debt, total (GDP %)",General government final consumption expenditure (GDP %),Exports of goods and services (GDP %),Imports of goods and services (GDP %),Population growth (annual %),"Industry (including construction), value added (GDP %)","Foreign direct investment, net inflows (GDP %)"
0,1990,2.658170e+11,2313.96,NaN,NaN,NaN,3.135428,10.359537,4.631322,1.456403,36.021881,1.298879
1,1991,2.900950e+11,171.67,5.44,NaN,NaN,3.321761,7.675043,6.078011,1.424063,32.722528,1.285579
2,1992,3.131200e+11,24.90,6.36,NaN,NaN,2.975538,6.598187,8.132793,1.387435,30.683955,1.936795
3,1993,3.388180e+11,10.61,10.10,NaN,NaN,13.510378,6.909352,9.313800,1.357966,27.338740,1.179803
4,1994,3.585920e+11,4.18,11.76,7.01009,NaN,13.186904,7.529949,10.604397,1.347024,26.754559,1.411953

In [16]:
# Before merging the two DataFrames, we need to extract the year from the TIME_PERIOD:Period column and convert OBS_VALUE to numeric
df2['Year'] = pd.to_datetime(df2['TIME_PERIOD:Period']).dt.year
df2['OBS_VALUE:Value'] = pd.to_numeric(df2['OBS_VALUE:Value'], errors='coerce')

In [17]:
# Since df2 contains monthly data, group it by Year and calculate the average of OBS_VALUE:Value
# Rename the columns to make them easier to understand
reer_avg = df2.groupby('Year')['OBS_VALUE:Value'].mean().reset_index()
reer_avg.rename(columns={'OBS_VALUE:Value': 'Real effective exchange rate index (2020 = 100)'}, inplace=True)

In [18]:
# Convert 'Year' column of df1 to string in both DataFrames to ensure consistent data types
df1_reset['Year'] = df1_reset['Year'].astype(str)
reer_avg['Year'] = reer_avg['Year'].astype(str)

In [19]:
# Merge the two DataFrames on the Year column
df = pd.merge(df1_reset, reer_avg, on='Year', how='left')

In [20]:
# Check the merged DataFrame
df.head()

,Year,GDP (constant 2015 US$),"Inflation, consumer prices (annual %)","Unemployment, total (total labor force %) (modeled ILO estimate)",Real interest rate (%),"Central government debt, total (GDP %)",General government final consumption expenditure (GDP %),Exports of goods and services (GDP %),Imports of goods and services (GDP %),Population growth (annual %),"Industry (including construction), value added (GDP %)","Foreign direct investment, net inflows (GDP %)",Real effective exchange rate index (2020 = 100)
0,1990,2.658170e+11,2313.96,NaN,NaN,NaN,3.135428,10.359537,4.631322,1.456403,36.021881,1.298879,NaN
1,1991,2.900950e+11,171.67,5.44,NaN,NaN,3.321761,7.675043,6.078011,1.424063,32.722528,1.285579,NaN
2,1992,3.131200e+11,24.90,6.36,NaN,NaN,2.975538,6.598187,8.132793,1.387435,30.683955,1.936795,NaN
3,1993,3.388180e+11,10.61,10.10,NaN,NaN,13.510378,6.909352,9.313800,1.357966,27.338740,1.179803,NaN
4,1994,3.585920e+11,4.18,11.76,7.01009,NaN,13.186904,7.529949,10.604397,1.347024,26.754559,1.411953,443.3925

In [21]:
# Given the extremely high inflation rate in the early 1990s and the missing values, we will remove the data for the years 1990-1992
# This will allow us to have a consistent dataset with fewer outliers and more complete data
df = df.drop(df.index[:3])
df.head()

,Year,GDP (constant 2015 US$),"Inflation, consumer prices (annual %)","Unemployment, total (total labor force %) (modeled ILO estimate)",Real interest rate (%),"Central government debt, total (GDP %)",General government final consumption expenditure (GDP %),Exports of goods and services (GDP %),Imports of goods and services (GDP %),Population growth (annual %),"Industry (including construction), value added (GDP %)","Foreign direct investment, net inflows (GDP %)",Real effective exchange rate index (2020 = 100)
3,1993,3.388180e+11,10.61,10.10,NaN,NaN,13.510378,6.909352,9.313800,1.357966,27.338740,1.179803,NaN
4,1994,3.585920e+11,4.18,11.76,7.01009,NaN,13.186904,7.529949,10.604397,1.347024,26.754559,1.411953,443.392500
5,1995,3.483890e+11,3.38,18.80,14.23111,NaN,13.349456,9.680410,10.091013,1.317554,26.301210,2.173928,415.655833
6,1996,3.676440e+11,0.16,17.11,10.56874,NaN,12.501678,10.428597,11.077872,1.260411,26.592561,2.553203,407.585833
7,1997,3.974640e+11,0.53,14.82,9.75165,34.5,12.062014,10.560850,12.775329,1.198264,27.179151,3.127878,419.630000

In [22]:
# We still have some missing values in the DataFrame, so we will use exponential smoothing to fill them.
# I tried several methods to fill the missing values, but exponential smoothing provided the best results, other methods give unrealistic or inconsistent values.
# Exponential smoothing with low alpha values is suitable for data with a trend.
# We will use a low alpha value (0.05) to give more weight to recent values
from statsmodels.tsa.holtwinters import SimpleExpSmoothing

In [23]:
# List of columns to apply exponential smoothing
columns_to_interpolate = ['Real interest rate (%)', 
                          'Central government debt, total (GDP %)', 
                          'Real effective exchange rate index (2020 = 100)',
                          'Foreign direct investment, net inflows (GDP %)']

In [24]:
warnings.filterwarnings("ignore") # We will ignore warnings for this code block

# Loop through each column and fill missing values using exponential smoothing
for column in columns_to_interpolate:
    non_missing_data = df.loc[~df[column].isna(), column]  # Get the non-missing values in the column

    model = SimpleExpSmoothing(non_missing_data).fit(smoothing_level=0.05) # Fit the exponential smoothing model with alpha=0.05

    nan_indices = df[df[column].isna()].index     # Get the indices of the missing values in the column
    
    predicted_values = model.predict(start=nan_indices[0], end=nan_indices[-1]) # Predict the missing values

    predicted_values_series = pd.Series(predicted_values.values, index=nan_indices)  # Ensure predicted_values is a Series with the same index as the missing values

    df.loc[nan_indices, column] = predicted_values_series     # Fill the missing values with the predicted values

In [25]:
# Lastly, to make the GDP column more readable, we will convert the values to billions of US dollars by dividing by 1 billion (1e9 or 10^9)
df['GDP (constant 2015 US$)'] = df['GDP (constant 2015 US$)'] / 1e9
df.rename(columns={'GDP (constant 2015 US$)': 'GDP (constant 2015 US$) [Billions]'}, inplace=True) # Rename the column to reflect the change

In [26]:
# Check for missing values and reset the index
df.isna().sum()
df = df.reset_index(drop=True)

In [27]:
# Check the complete DataFrame with no missing values
df

,Year,GDP (constant 2015 US$) [Billions],"Inflation, consumer prices (annual %)","Unemployment, total (total labor force %) (modeled ILO estimate)",Real interest rate (%),"Central government debt, total (GDP %)",General government final consumption expenditure (GDP %),Exports of goods and services (GDP %),Imports of goods and services (GDP %),Population growth (annual %),"Industry (including construction), value added (GDP %)","Foreign direct investment, net inflows (GDP %)",Real effective exchange rate index (2020 = 100)
0,1993,338.818,10.61,10.100,7.531021,35.072250,13.510378,6.909352,9.313800,1.357966,27.338740,1.179803,440.284675
1,1994,358.592,4.18,11.760,7.010090,35.603637,13.186904,7.529949,10.604397,1.347024,26.754559,1.411953,443.392500
2,1995,348.389,3.38,18.800,14.231110,36.508456,13.349456,9.680410,10.091013,1.317554,26.301210,2.173928,415.655833
3,1996,367.644,0.16,17.110,10.568740,43.018033,12.501678,10.428597,11.077872,1.260411,26.592561,2.553203,407.585833
4,1997,397.464,0.53,14.820,9.751650,34.500000,12.062014,10.560850,12.775329,1.198264,27.179151,3.127878,419.630000
5,1998,412.767,0.92,12.650,12.554370,37.600000,12.494775,10.415582,12.934446,1.158178,26.712136,2.438769,436.138333
6,1999,398.793,-1.17,14.050,13.117470,43.000000,13.723211,9.827175,11.555570,1.152044,26.193631,8.460582,478.705000
7,2000,395.646,-0.94,15.000,9.945070,45.700000,13.784191,10.986375,11.636070,1.133277,25.990836,3.665791,475.330000
8,2001,378.203,-1.07,17.320,29.120280,53.700000,14.156274,11.579008,10.273247,1.099171,25.243434,0.806164,498.590000
9,2002,336.999,25.87,19.590,16.179800,166.700000,12.235247,28.382597,13.370127,1.073538,30.557737,2.198958,226.048333
10,2003,366.780,13.44,15.360,7.828850,139.200000,11.438057,25.930943,14.713805,1.032361,32.645099,1.294811,227.316667
11,2004,399.899,4.42,13.522,-9.789160,118.100000,11.114636,23.847619,16.845027,1.015337,28.816922,2.505018,218.612500
12,2005,435.297,9.64,11.506,-3.765740,80.500000,12.141861,23.245877,17.305394,1.033476,28.626314,2.649354,215.645833
13,2006,470.326,10.90,10.078,-4.496300,70.600000,12.429415,23.026695,17.406785,1.034672,29.203280,2.381069,210.611667
14,2007,512.691,8.83,8.470,-3.382540,62.100000,12.989324,22.662750,18.282420,1.006297,27.415236,2.251294,205.143333
15,2008,533.492,8.58,7.837,-3.006390,53.800000,13.633513,22.060900,18.341773,0.992294,26.272460,2.689901,199.550833
16,2009,501.917,6.28,8.645,0.240390,55.500000,15.903897,19.560985,14.496142,1.014284,25.284205,1.206439,186.846667
17,2010,552.738,10.78,7.714,-8.566029,43.500000,15.163718,18.933823,16.037190,0.255582,25.258776,2.675162,180.440000
18,2011,585.924,9.47,7.180,-7.773405,38.900000,15.688957,18.449209,16.756946,1.153059,25.212698,2.044660,171.966667
19,2012,579.910,10.03,7.217,-6.748196,40.400000,16.645438,16.237859,14.288683,1.136906,24.429057,2.806672,177.645833
20,2013,593.859,10.62,7.100,-5.485839,43.500000,16.806238,14.617173,14.716756,1.119109,24.005881,1.779206,163.096667
21,2014,578.938,23.90,7.268,-11.600699,44.700000,16.949876,14.405479,14.001315,1.099461,24.277394,0.962407,134.335833
22,2015,594.749,26.60,7.580,-1.314709,52.500000,18.098380,10.705652,11.780574,1.078001,23.153056,1.977135,155.584167
23,2016,582.377,26.50,8.083,-7.006040,53.100000,17.654578,12.527095,13.566793,1.057182,22.054107,0.584749,128.540833
24,2017,598.791,25.68,8.347,0.455893,56.500000,17.696894,11.320283,13.969318,1.037134,21.782123,1.789365,136.287500
25,2018,583.118,34.28,9.221,4.564409,85.200000,15.805097,14.436686,16.325850,1.015808,23.719592,2.232532,111.550000
26,2019,571.451,53.55,9.843,12.103970,89.800000,16.443242,17.924878,14.705737,0.993397,23.157848,1.485007,98.848333
27,2020,514.874,42.02,11.461,-7.635174,103.900000,16.873007,16.605414,13.598284,0.970054,22.408876,1.266169,100.000833
28,2021,570.059,48.41,8.736,-11.883816,80.600000,15.738491,17.996588,14.933436,0.947491,23.917243,1.414799,103.095833
29,2022,598.313,94.80,6.805,-10.073729,85.200000,15.396925,16.299562,15.350952,0.925835,24.163705,2.441377,125.265000
30,2023,589.036,211.40,6.178,-15.745227,88.400000,15.798534,12.919425,14.052392,0.903771,25.066388,1.859512,126.596667

In [28]:
# And finally, we have our final DataFrame with no missing values
# This will be the DataFrame we will be using for the different prediction models
# Now we just need to export it to a new csv file
df.to_csv('../data/processed/argentina_macro_data.csv', index=False)